{% extends 'core/base.html' %}

{% block title %}Login{% endblock title %}

{% block main_content %}
<div class="login-container">
    <div class="logo">
        {% load static %}
        <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo-img">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </div>
    <h2>Login Expanza</h2>
    <p class="sub-heading">Enter your credentials to access your account</p>
    <form method="POST" action = "{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group">
            <label for="name">Username</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="login-btn">Login</button>
    </form>
    <p class="signup-link">Don't have an account? <a href="{%url 'signUp' %}">Sign up</a></p>
</div>
{% endblock main_content %}
